<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8"/>
    <title><%= htmlWebpackPlugin.options.title %></title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdn.rawgit.com/konpa/devicon/4f6a4b08efdad6bb29f9cc801f5c07e263b39907/devicon.min.css">
  </head>
  <body>
    <header class="hero is-light is-bold">
      <div class="hero-body">
        <div class="container">
          <div class="heading has-text-centered">
            <h1 class="title is-1">
              Dylan Sweetensen
            </h1>
            <h2 class="subtitle">PHP and Javascript Engineer</h2>
            <div>
              <a href="">email</a> | <a href="">github</a> | <a href="">linkedin</a>
            </div>
          </div>
        </div>
      </div>
    </header>
    <section class="section">
      <div class="container">
        <div class="columns">
          <div class="column is-3">
            <div class="heading">
              <h3 class="section-title title is-4">
                About me
              </h3>
            </div>
          </div>
          <div class="column is-9">
            <div class="content">
              <p>
                Let's cut to the chase. I'm a web developer in Wellington, New Zealand. Making stuff
                from the internet isn't just a 9 - 5 for me, it's a hobby and a passion. To take a
                great idea and transform it into reality is what makes me do what I do.
                I'm also a human and a multi-dimensional being. If I'm not creating with code, I'm creating
                with sound, creating with pen and paper or maybe just taking a break and watching
                some shows.
              </p>
              <p>
                I'm a team player and love the feeling of comradery you build between work mates.
                I enjoy collobariting, mentoring and learning from the people around me and am always
                up for a bit of banter. If you like what you see here, and you think I would make
                a positive difference in your team, don't hesitate to get in touch; I'd love to hear
                from you.
              </p>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="hero section is-light">
      <div class="container">
        <div class="columns">
          <div class="column is-3">
            <div class="heading">
              <h3 class="section-title title is-4">
                Inventory
              </h3>
              <div class="legend">
                <div class="legend-item">
                  Very experienced <span class="icon"><i class="fa fa-info-circle"></i></icon>
                </div>
                <div class="legend-item is-tier-2">
                  Some what experienced <span class="icon"><i class="fa fa-info-circle"></i></icon>
                </div>
                <div class="legend-item is-tier-3">
                  Limited experience <span class="icon"><i class="fa fa-info-circle"></i></icon>
                </div>
              </div>
            </div>
          </div>
          <div class="column is-9">
            <div class="content has-text-centered">
              <!-- Tier 1 -->
              <div class="columns is-multiline">

                <div class="column is-2">
                  <span class="icon is-devicon">
                    <i class="devicon-babel-plain "></i>
                  </span>
                </div>
                <div class="column is-2">
                  <span class="icon is-devicon">
                    <i class="devicon-css3-plain-wordmark "></i>
                  </span>
                </div>
                <div class="column is-2">
                  <span class="icon is-devicon">
                    <i class="devicon-git-plain "></i>
                  </span>
                </div>
                <div class="column is-2">
                  <span class="icon is-devicon">
                    <i class="devicon-react-original-wordmark "></i>
                  </span>
                </div>
                <div class="column is-2">
                  <span class="icon is-devicon">
                    <i class="devicon-html5-plain "></i>
                  </span>
                </div>
                <div class="column is-2">
                  <span class="icon is-devicon">
                    <i class="devicon-javascript-plain "></i>
                  </span>
                </div>
                <div class="column is-2">
                  <span class="icon is-devicon">
                    <i class="devicon-jquery-plain-wordmark "></i>
                  </span>
                  </div>
                <div class="column is-2">
                  <span class="icon is-devicon">
                    <i class="devicon-less-plain-wordmark "></i>
                  </span>
                </div>
                <div class="column is-2">
                  <span class="icon is-devicon">
                    <i class="devicon-php-plain "></i>
                  </span>
                </div>
                <div class="column is-2">
                  <span class="icon is-devicon">
                    <i class="devicon-sass-original "></i>
                  </span>
                </div>
                <div class="column is-2">
                  <span class="icon is-devicon">
                    <img src="images/silverstripe-logo.svg" />
                  </span>
                </div>
                <div class="column is-2">
                  <span class="icon is-devicon">
                    <img src="images/webpack-logo.svg" />
                  </span>
                </div>
              </div>
              <!-- Tier 2 -->
              <div class="columns is-multiline is-tier-2">
                <div class="column is-2">
                  <span class="icon is-devicon">
                    <i class="devicon-apache-line-wordmark "></i>
                  </span>
                </div>
                <div class="column is-2">
                  <span class="icon is-devicon">
                    <i class="devicon-amazonwebservices-plain-wordmark "></i>
                  </span>
                </div>
                <div class="column is-2">
                  <span class="icon is-devicon">
                    <i class="devicon-docker-plain-wordmark "></i>
                  </span>
                </div>
                <div class="column is-2">
                  <span class="icon is-devicon">
                    <i class="devicon-grunt-plain "></i>
                  </span>
                </div>
                <div class="column is-2">
                  <span class="icon is-devicon">
                    <i class="devicon-wordpress-plain-wordmark "></i>
                  </span>
                </div>
                <div class="column is-2">
                  <span class="icon is-devicon">
                    <i class="devicon-mongodb-plain-wordmark "></i>
                  </span>
                </div>
                <div class="column is-2">
                  <span class="icon is-devicon">
                    <i class="devicon-mysql-plain-wordmark "></i>
                  </span>
                </div>
                <div class="column is-2">
                  <span class="icon is-devicon">
                    <i class="devicon-linux-plain "></i>
                  </span>
                </div>
                <div class="column is-2">
                  <span class="icon is-devicon">
                    <img src="images/ember-logo.svg" />
                  </span>
                </div>
                <div class="column is-2">
                  <span class="icon is-devicon">
                    <img src="images/css-modules-logo.svg" />
                  </span>
                </div>
                <div class="column is-2">
                  <span class="icon is-devicon">
                    <i class="devicon-nodejs-plain-wordmark"></i>
                  </span>
                </div>
              </div>
              <!-- Tier 3 -->
              <div class="columns is-multiline is-tier-3">
                <div class="column is-2">
                  <span class="icon is-devicon">
                    <i class="devicon-gulp-plain "></i>
                  </span>
                </div>
                <div class="column is-2">
                  <span class="icon is-devicon">
                    <i class="devicon-mocha-plain "></i>
                  </span>
                </div>
                <div class="column is-2">
                  <span class="icon is-devicon">
                    <i class="devicon-nginx-original "></i>
                  </span>
                </div>
                <div class="column is-2">
                  <span class="icon is-devicon">
                    <i class="devicon-photoshop-plain "></i>
                  </span>
                </div>
                <div class="column is-2">
                    <span class="icon is-devicon">
                      <img src="images/socketio-logo.svg" />
                    </span>
                </div>
                <div class="column is-2">
                    <span class="icon is-devicon">
                      <img src="images/cssnext-logo.svg" />
                    </span>
                </div>
                <div class="column is-2"></div>
                <div class="column is-2"></div>
              </div>





                <div class="column is-2">
                  <span class="icon is-devicon">
                    <i class="devicon-atom-original-wordmark "></i>
                  </span>
                </div>
                <div class="column is-2">
                  <span class="icon is-devicon">
                    <i class="devicon-apple-original "></i>
                  </span>
                </div>
                <div class="column is-2">
                  <span class="icon is-devicon">
                    <i class="devicon-sourcetree-plain-wordmark "></i>
                  </span>
                </div>
                <div class="column is-2">
                  <span class="icon is-devicon">
                    <i class="devicon-github-plain "></i>
                  </span>
                </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="section">
      <div class="container">
        <div class="columns">
          <div class="column is-3">
            <div class="heading">
              <h3 class="section-title title is-4">
                Experience
              </h3>
            </div>
          </div>
          <div class="column is-9">
            <div class="content">
              <p>

              </p>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="hero section is-light">
      <div class="container">
        <div class="columns">
          <div class="column is-3">
            <div class="heading">
              <h3 class="section-title title is-4">
                Academia
              </h3>
            </div>
          </div>
          <div class="column is-9">
            <div class="content">
              <p>

              </p>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="section">
      <div class="container">
        <div class="columns">
          <div class="column is-3">
            <div class="heading">
              <h3 class="section-title title is-4">
                Examples
              </h3>
            </div>
          </div>
          <div class="column is-9">
            <div class="content">
              <p>

              </p>
            </div>
          </div>
        </div>
      </div>
    </section>
    <footer class="footer">
      <div class="container">
        <div class="content has-text-centered">
          <p>
            <strong>Bulma</strong> by <a href="http://jgthms.com">Jeremy Thomas</a>. The source code is licensed
            <a href="http://opensource.org/licenses/mit-license.php">MIT</a>. The website content
            is licensed <a href="http://creativecommons.org/licenses/by-nc-sa/4.0/">CC ANS 4.0</a>.
          </p>
          <p>
            <a class="icon" href="https://github.com/jgthms/bulma">
              <i class="fa fa-github"></i>
            </a>
          </p>
        </div>
      </div>
    </footer>
  </body>
</html>
