<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8"/>
    <title><%= htmlWebpackPlugin.options.title %></title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdn.rawgit.com/konpa/devicon/4f6a4b08efdad6bb29f9cc801f5c07e263b39907/devicon.min.css">
  </head>
  <body>
    <header class="hero is-light is-bold">
      <div class="hero-body">
        <div class="container">
          <div class="heading has-text-centered">
            <h1 class="title is-1">
              Dylan Sweetensen
            </h1>
            <h2 class="subtitle">PHP and Javascript Engineer</h2>
            <div>
              <a href="">email</a> | <a href="">github</a> | <a href="">linkedin</a>
            </div>
          </div>
        </div>
      </div>
    </header>
    <section class="section">
      <div class="container">
        <div class="columns">
          <div class="column is-3">
            <div class="heading">
              <h3 class="section-title title is-4">
                About me
              </h3>
            </div>
          </div>
          <div class="column is-9">
            <div class="content">
              <p>
                Let's cut to the chase. I'm a web developer in Wellington, New Zealand. Making stuff
                from the internet isn't just a 9 - 5 for me, it's a hobby and a passion. To take a
                great idea and transform it into reality is what makes me do what I do.
                I'm also a human and a multi-dimensional being. If I'm not creating with code, I'm creating
                with sound, creating with pen and paper or maybe just taking a break and watching
                some shows.
              </p>
              <p>
                I'm a team player and love the feeling of comradery you build between work mates.
                I enjoy collobariting, mentoring and learning from the people around me and am always
                up for a bit of banter. If you like what you see here, and you think I would make
                a positive difference in your team, don't hesitate to get in touch; I'd love to hear
                from you.
              </p>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="hero section is-light">
      <div class="container">
        <div class="columns">
          <div class="column is-3">
            <div class="heading">
              <h3 class="section-title title is-4">
                Inventory
              </h3>
              <div class="legend">
                <div class="legend-item">
                  A lot of experience <span class="icon"><i class="fa fa-info-circle"></i></icon>
                </div>
                <div class="legend-item is-tier-2">
                  Decent experience <span class="icon"><i class="fa fa-info-circle"></i></icon>
                </div>
                <div class="legend-item is-tier-3">
                  Limited experience <span class="icon"><i class="fa fa-info-circle"></i></icon>
                </div>
              </div>
            </div>
          </div>
          <div class="column is-9">
            <div id="skills" class="has-text-centered">
              <!-- React will populate this -->
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="section">
      <div class="container">
        <div class="columns">
          <div class="column is-3">
            <div class="heading">
              <h3 class="section-title title is-4">
                Experience
              </h3>
            </div>
          </div>
          <div class="column is-9">
            <div id="roles">
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="hero section is-light">
      <div class="container">
        <div class="columns">
          <div class="column is-3">
            <div class="heading">
              <h3 class="section-title title is-4">
                Academia
              </h3>
            </div>
          </div>
          <div class="column is-9">
            <div class="content">
              <p>

              </p>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="section">
      <div class="container">
        <div class="columns">
          <div class="column is-3">
            <div class="heading">
              <h3 class="section-title title is-4">
                Examples
              </h3>
            </div>
          </div>
          <div class="column is-9">

          </div>
        </div>
      </div>
    </section>
    <footer class="footer">
      <div class="container">
        <div class="content has-text-centered">
          <p>
            This one-page-rager was built with Bulma, Font Awesome, Devicons, React, Handlebars, Webpack, Sass and Ecstatic.
          </p>
          <p>
            <a class="icon" href="https://github.com/dylanitrioum">
              <i class="fa fa-envelope"></i>
            </a> |
            <a class="icon" href="https://github.com/dylanitrioum">
              <i class="fa fa-github"></i>
            </a> |
            <a class="icon" href="">
              <i class="fa fa-linkedin"></i>
            </a>
          </p>
        </div>
      </div>
    </footer>
  </body>
</html>
