@import "variables";

@font-face {
  font-family: 'devicon-custom';
  src:  url('#{$icomoon-font-path}/devicon-custom.eot?h0bzyy');
  src:  url('#{$icomoon-font-path}/devicon-custom.eot?h0bzyy#iefix') format('embedded-opentype'),
    url('#{$icomoon-font-path}/devicon-custom.ttf?h0bzyy') format('truetype'),
    url('#{$icomoon-font-path}/devicon-custom.woff?h0bzyy') format('woff'),
    url('#{$icomoon-font-path}/devicon-custom.svg?h0bzyy#devicon-custom') format('svg');
  font-weight: normal;
  font-style: normal;
}

.devicon-custom {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'devicon-custom' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.devicon-css-modules {
  &:before {
    content: $devicon-css-modules;
  }

  &.colored {
      color: #000;
  }
}
.devicon-cssnext {
  &:before {
    content: $devicon-cssnext;
  }

  &.colored {
      color: #4F7DBF;
  }
}
.devicon-ember {
  &:before {
    content: $devicon-ember;
  }

  &.colored {
      color: #DD6A58;
  }
}
.devicon-silverstripe {
  &:before {
    content: $devicon-silverstripe;
  }

  &.colored {
      color: #236399;
  }
}
.devicon-socketio {
  &:before {
    content: $devicon-socketio;
  }

  &.colored {
      color: #DB5CEE;
  }
}
.devicon-webpack {
  &:before {
    content: $devicon-webpack;
  }

  &.colored {
      color: #123AB1;
      opacity: 0.5; // Hack - for now
  }
}
