$icomoon-font-path: "../fonts" !default;

$devicon-css-modules: "\e901";
$devicon-cssnext: "\e902";
$devicon-ember: "\e903";
$devicon-silverstripe: "\e904";
$devicon-socketio: "\e905";
$devicon-webpack: "\e900";
